DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

REDIS_HOST=
REDIS_PORT=
REDIS_PREFIX=

RSS_URLS=
RSS_POLL_INTERVAL=300

LOG_FILE=
PID_FILE=

AI_HOST=localhost:1234
AI_API_URL=http://localhost:1234/v1/chat/completions
AI_EMBEDDINGS_URL=http://localhost:1234/v1/embeddings
AI_SUMMARISE_MODEL=qwen/qwen3-vl-4b
AI_EMBEDDING_MODEL=
